<div class="card shadow p-3">
    <h2 class="mb-0">{{ trans('acc-info-1') }}</h2>
    <p>
        {{ trans('acc-info-2') }}
        <b>{{ trans('acc-info-3') }}</b>, <b>{{ trans('acc-info-4') }}</b>, <b>{{ trans('acc-info-5') }}</b> {{ trans('acc-info-6') }} <b>{{ trans('acc-info-7') }}</b>.
    </p>
    <h2 class="mt-4 mb-0">{{ trans('acc-info-8') }}</h2>
    <p>{{ trans('acc-info-9') }}</p>
    <ul>
        <li>
            <b>{{ trans('acc-info-10') }}</b> {{ trans('acc-info-11') }}
            <ul>
                <li>
                    <span class="text-success">5700000001</span>: {{ trans('acc-info-12') }}
                </li>
                <li>
                    <span class="text-success">570.1</span>: {{ trans('acc-info-13') }}
                </li>
                <li>
                    <span class="text-success">570.A</span>: {{ trans('acc-info-14') }}
                </li>
                <li>
                    <span class="text-success">A</span>: {{ trans('acc-info-15') }}
                </li>
                <li>
                    <span class="text-danger">570..1</span>: {{ trans('acc-info-16') }}
                </li>
                <li>
                    <span class="text-danger">570.AB</span>: {{ trans('acc-info-17') }}
                </li>
                <li>
                    <span class="text-danger">570.a</span>: {{ trans('acc-info-18') }} <b>{{ trans('acc-info-19') }}</b>.
                </li>
                <li>
                    <span class="text-danger">Z</span>: {{ trans('acc-info-20') }}
                </li>
            </ul>
        </li>
        <li>
            <b>{{ trans('acc-info-21') }}</b>: {{ trans('acc-info-22') }}
        </li>
        <li>
            <b>{{ trans('acc-info-23') }}</b> y <b>{{ trans('acc-info-24') }}</b>: {{ trans('acc-info-25') }}
            <ul>
                <li>
                    <span class="text-success">100</span>: {{ trans('acc-info-26') }}
                </li>
                <li>
                    <span class="text-success">-100</span>: {{ trans('acc-info-27') }}
                </li>
                <li>
                    <span class="text-success">B</span>: {{ trans('acc-info-28') }}
                </li>
                <li>
                    <span class="text-success">-B</span>: {{ trans('acc-info-29') }}
                </li>
                <li>
                    <span class="text-success">100 + B</span>: {{ trans('acc-info-30') }}
                </li>
                <li>
                    <span class="text-success">B + 100</span>: {{ trans('acc-info-31') }}
                </li>
                <li>
                    <span class="text-success">B + C</span>: {{ trans('acc-info-31') }}
                </li>
                <li>
                    <span class="text-success">B - 100</span>: {{ trans('acc-info-31') }}
                </li>
                <li>
                    <span class="text-success">B * 2</span>: {{ trans('acc-info-32') }}
                </li>
                <li>
                    <span class="text-success">B / 2</span>: {{ trans('acc-info-33') }}
                </li>
                <li>
                    <span class="text-success">Z</span>: {{ trans('acc-info-34') }} <b>{{ trans('acc-info-35') }}</b> {{ trans('acc-info-36') }}
                </li>
                <li>
                    <span class="text-danger">a - b</span>: {{ trans('acc-info-37') }} <b>{{ trans('acc-info-38') }}</b>.
                </li>
                <li>
                    <span class="text-danger">B x 2</span>: {{ trans('acc-info-39') }}
                </li>
            </ul>
        </li>
    </ul>
    <h3 class="mt-4 mb-0">{{ trans('acc-info-40') }}</h3>
    <p>
        {{ trans('acc-info-41') }}
    </p>
    <ul>
        <li>
            {{ trans('acc-info-42') }} <b>430.A</b> {{ trans('acc-info-43') }} <b>{{ trans('acc-info-44') }}</b> A y <b>{{ trans('acc-info-45') }}</b> {{ trans('acc-info-46') }}
        </li>
        <li>
            <b>{{ trans('acc-info-47') }}</b> {{ trans('acc-info-48') }}
        </li>
    </ul>
</div>
